@font-face {
  font-family: "vazir";
  src: url(/Vazir.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "vazir";
  text-align: right;
}

img {
  width: 100%;
}

pre {
  text-align: left !important;
}

pre {
  padding: 20px;
  border-radius: 5px;
  background-color: #282828;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  direction: rtl;
}

.cross {
  position: relative;
  color: black;
  width: 36px;
  height: 30px;
}
